@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

::-webkit-scrollbar
{
  display: none;
}

.loginpage
{
  background: url("../images/rachel_bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}
.logincard
{
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 8px 8px 40px rgba(0, 0, 0, 0.09);
  backdrop-filter:blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 2px solid rgba(255, 255, 255, 0.61);
  z-index: 49;
}